In [2]:
import pandas as pd
import numpy as np

In [11]:
def rank(features):
    global data
    name = '_'.join(features)
    grouped = data.groupby(features)['is_attributed'].sum().reset_index()
    grouped = grouped[grouped['is_attributed'] > 50]
    grouped[name + '_rnk'] = pd.qcut(grouped['is_attributed'],10, duplicates='drop', labels=False)
    grouped = grouped[features + [name + '_rnk']]
    grouped = grouped.reset_index(drop=True)
    grouped.to_feather('../data/data/features/rank/' + name + '.feather')
    return None

In [5]:
dtypes = {}
dtypes['ip'] = 'uint32'
dtypes['app'] = 'uint16'
dtypes['device'] = 'uint16'
dtypes['os'] = 'uint16'
dtypes['channel'] = 'uint16'
usecols = list(dtypes.keys()) + ['click_time', 'is_attributed']
data = pd.read_csv('../data/download/train.csv', dtype=dtypes, usecols=usecols)
data['click_id'] = data.index
data['click_time'] = pd.to_datetime(data['click_time'])
data['is_valid'] = False
data.loc[data['click_time'] > '2017-11-09 04:00:00','is_valid'] = True 
data = data.drop('click_time', axis=1)
data = data[data['is_valid'] == False]
data.head()

       ip  app  device  os  channel  is_attributed  click_id  is_valid
0   83230    3       1  13      379              0         0     False
1   17357    3       1  19      379              0         1     False
2   35810    3       1  13      379              0         2     False
3   45745   14       1  13      478              0         3     False
4  161007    3       1  13      379              0         4     False

In [12]:
rank(['ip'])
rank(['app','channel'])
rank(['app','os'])
rank(['channel', 'os'])